@charset "UTF-8";

input{
/*ios대응*/
appearance: none;
-webkit-appearance: none;
-webkit-border-radius: 0;
}

select{
/*ios대응*/
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;

}
select::-ms-expand{
display:none; /* 화살표 없애기 for IE10, 11*/
}

#wrap_section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_img_box{
  order:1;
  width: 100%;
  height: 800px;
}

.main_img{
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../img/main.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.main_introduce_box{
  padding: 30px 0px;
  text-align: center;
  width:700px;
  height: 350px;
  background-color: #630091;
  background-color: rgba( 0, 0, 0, 0.7 );
}

.main_introduce_box form h1{
  font-size:30px;
  color:#ed9a00;
  width:100%;
}

.main_introduce_box > form > .pc_main_new_information_table{
  border: 1px solid white;
  margin-left: 50px;
  margin-right: 50px;
  width:600px;
  height:130px;
}

.main_introduce_box > form > .pc_main_new_information_table > tbody > tr > td{
  color:black;
  font-size:18px;
  background:white;
  border:1px solid gray;
  vertical-align:middle;
  font-weight:bold;
  overflow:hidden;
}

.main_introduce_box > form > select{
  margin-top: 50px;
  background:white;
  width:301px;
  border-top:1px solid gray;
  height:41px;
  margin-left:-2.5px;
  margin-right:-2.5px;
}


.main_introduce_box > form > .pc_main_new_information_table > tbody > tr > td > input,
 .main_introduce_box form > .pc_main_new_information_table > tbody > tr > td > select{
  width:100%;
  height:100%;
  border:0px;
  background:white;
  color:black;
  padding:5px;
}

.main_introduce_box form button{
  width:150px;
  height:50px;
  background: #4d91ff;
  font-size:15px;
  color:white;
  border:0px;
}



#first_section{
  text-align: center;
  padding-top: 100px;
  order:2;
  background: white;
  padding-bottom: 50px;
}

.round_box{
  float: left;
  width: 250px;
  height: 320px;
  margin-left: 20px;
  text-align: center;
  line-height: 18px;
  font-size: 15px;
  color:#777777;
  font-weight: 300;
}

.round_box img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 2px 2px 2px 2px gray;
}

.round_box h1{
  font-size: 18px;
  color:#777777;
  font-weight: 500;
}

.round_box:first-child{
  margin-left: 0px;
}

.first_hr{
  order:3;
  width: 1000px;
  border:1px solid #d6d6d6;
}

#second_section{
  order:4;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.info_box{
  padding-top: 50px;
  order:3;
  width: 1000px;
  height: 500px;
}

.map_img{
  float: right;
}

.map_img img{
  width: 450px;
  height: 450px;
  border-radius: 5px;
}

.map{
  padding-top: 100px;
}

.map img, .tel img, .fax img, .email img{
  width: 40px;
  height: 40px;
}

.map h1{
  font-size: 30px;
  color:black;
  font-weight: 500;
  line-height: 40px;
}

.tel h1, .fax h1, .email h1{
  font-size: 20px;
  color:#122B88;
  font-weight: 500;
  line-height: 40px;
}

.map p{
  line-height: 30px;
  font-size: 20px;
  color:gray;
  font-weight: 100;
}

.map img, .map h1, .tel img, .tel h1, .fax img, .fax h1, .email img, .email h1{
  display: inline;
}

.tel p, .email p{
  display: inline;
  font-size: 15px;
  color:black;
}

.mobile_main_new_information_table{
  display: none;
}

#wrap_section > div > div > div > form:nth-child(2){
  display:none;
}

@media all and (max-width:1280px) {

  #wrap_section{
    width: 100%;
    height: auto;
  }

  .main_img_box{
    width: 100%;
    height: auto;
  }

  .main_img{
    margin-top:72px;
    width:100%;
    height: 600px;
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-attachment:scroll;
  }


  .main_introduce_box{
    width: 70%;
    height: 80%;
  }

  .main_introduce_box h1{
    font-size:20px;
  }

  .main_introduce_box h2, .main_introduce_box h3{
    font-size: 20px;
  }

  .main_introduce_box p{
    font-size: 15px;
  }

  .main_introduce_box > .main_new_information_form > h1{
    font-size: 25px;
  }

  .main_introduce_box > .main_new_information_form > select{
    width:100px;
    height: 35px;
    margin-left:-2.5px;
    margin-right:-2.5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 0px;
  }

  .main_introduce_box > .main_new_information_form > .pc_main_new_information_table{
    display: none;
  }

  .mobile_main_new_information_table{
    width: 100%;
    display: inline;
    margin: 0 auto;
  }

  #wrap_section > div > div > div > form > .mobile_main_new_information_table > tbody > tr > td{
    vertical-align: middle;
    font-size:15px;
    font-weight:300;
    background:white;
    border:1px solid gray;
    height: 35px;
    color:black;
    margin: 0px auto;
  }

  #wrap_section > div > div > div > form > table.mobile_main_new_information_table > tbody > tr> td:nth-child(1){
    width:75px;
  }

  #wrap_section > div > div > div > form > table.mobile_main_new_information_table > tbody > tr > td:nth-child(2){
    width:110px;
  }

  #wrap_section > div > div > div > form > table.mobile_main_new_information_table > tbody > tr > td > input,
  #wrap_section > div > div > div > form > table.mobile_main_new_information_table > tbody > tr > td > select{
    color:black;
    background:white;
    width:110px;
    height: 100%;
    border: 0px;
    padding:5px;
  }

  #first_section{
    order:2;
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
  }

  .round_box{
    width: 400px;
    height:150px;
    margin-top:20px;
    display: inline-block;
  }

  .round_box img{
    width: 120px;
    height:120px;
    float:left;
  }

  .round_box h1{
    margin-top: -30px;
    padding-left: 10px;
    float:left;
    font-size: 13px;
  }

  .round_box:first-child{
    margin-left: 20px;
  }

  .round_box p{
    margin-top: -30px;
    text-align:left;
    padding-left: 10px;
    float:left;
    font-size: 13px;
  }

  #second_section{
    order:3;
    width:100%;
    height: auto;
  }

  .first_hr{
    align:center;
    width: 90%;
  }

  .info_box{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .map_img{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .map_img img{
    width: 80%;
    height: auto;

  }

  .map, .tel, .fax, .email{
    width: 100%;
    height: auto;
  }

  .map img, .tel img, .fax img, .email img{
    width: 20px;
    height: 20px;
    padding-top: 10px;
  }

  .map h1, .map p, .tel h1, .tel p, .fax h1, .fax p, .email h1{
    font-size: 15px;
  }

  #wrap_section > div > div > div > form:nth-child(2){
    display:block;
    margin: 0 auto;
  }

  #wrap_section > div > div > div > form:nth-child(1){
    display:none;
  }

}

@media all and (max-width:300px) {

}
