@charset "UTF-8";

.business_introduce_box{
  width: 100%;
  height:200px;
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.business_introduce_box h1{
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.business_box{
  padding-top: 100px;
  width: 100%;
  height: 600px;
  text-align: center;
}

.business_box h1{
  color:#2a4ed4;
  font-weight: 500;
  font-size: 20px;
}

.business_img_box{
  width: 250px;
  height: 230px;
  float: left;
  background:#2a4ed4;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 15px;
}

.business_img_box h2{
  color:white;
  font-weight:300;
  font-size: 13px;
}

.business_img_box img{
  width:250px;
  height:200px;
}

.major_box{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.major_img_box{
  margin-top: 30px;
  width:600px;
  height:430px;
}

.major_img_box img{
  width:600px;
  height:380px;
  border-radius: 3px;
}

.major_img_box h1{
  padding-top:10px;
  text-align:center;
  font-size:15px;
  font-weight:300;
}

@media all and (max-width:1280px) {

  .business_introduce_box{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .business_introduce_box h1{
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 15px;
  }

  .business_box{
    margin: 0px;
    padding: 0px;
    background:white;
  }

  .business_box h1{
    display: none;
  }

  .business_img_box{
    text-align: center;
  }

  .major_box{
    text-align: center;
    width: 100%;
    height:auto;
    padding-bottom: 20px;
  }

  .major_img_box{
    width: 100%;
    height: auto;
  }

  .major_img_box img{
    width: 90%;
    height: auto;
  }

  .major_img_box h1{
    font-size: 13px;
    font-weight: 100;
  }

}
