@charset "UTF-8";

.information_box{
  background: white;
  width: 100%;
  height: 500px;
}

.information_table {
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  line-height: 15px;
  width: 100%;
}

.information_table thead th{
  font-size: 18px;
  padding: 10px;
  font-weight: 500;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}

.information_table thead th:nth-child(1){
  width:50px;
}

.information_table thead th:nth-child(2){
  width:80px;
}

.information_table thead th:nth-child(3){
  width:500px;
}


.information_table tbody th{
  height: 10px;
  padding: 10px;
  font-size: 13px;
  font-weight: 300;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
  border-right: 1px solid #ccc;
}

.posts_table_title{
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.posts_table_title a{
  color:black;
  font-size: 13px;
  font-weight: 100;
}

.posts_table_td{
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 13px;
  font-weight: 100;
  padding: 10px;
  background: #f3f6f7;
}

.page_box{
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}

.page_box td{
  width: 100px;
}

.page_box a{
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.background-2{
  background-image: url('../img/qna.jpg');
}

.question_box, .answer_box{
  background:white;
}

.question_box > img, .answer_box > img{
  display:inline;
  width:45px;
  height:45px;
}

#container_section > div.content_box > div > div.loan_name_detail_box > div.question_box > h1,
#container_section > div.content_box > div > div.loan_name_detail_box > div.answer_box > h1{
  display: inline;
  font-size:18px;
  line-height:35px;
}

#container_section > div.content_box > div > div.loan_name_detail_box > div.question_box > h1{
  color:red;
  font-weight:500;
}

#container_section > div.content_box > div > div.loan_name_detail_box > div.answer_box > h1{
  font-weight:300;
  color:black;
}


@media all and (max-width:1280px) {

  .information_box{
    width: 100%;
    height: auto;
    margin:0px;
    padding:0px;
    margin-top: 20px;
    padding-bottom:20px;
  }

  .information_table thead tr th{
    font-size:10px;
  }

  .information_table tbody tr th, .information_table tbody tr td{
    font-size: 10px;
  }

  .posts_table_title a{
    font-size: 13px;
  }

  .information_table thead th:nth-child(1){
    width:90px;
  }

  .information_table thead th:nth-child(2){
    width:100px;
  }

  .information_table thead th:nth-child(4){
    width:150px;
  }

  .information_table thead th:last-child{
    display:none;
  }

  .information_table tbody tr td:last-child{
    display:none;
  }

  .page_box tr td a, .page_box tr td{
    font-size: 13px;
  }

  .page_box tr td{
    width: 100px;
    margin:0px;
    padding:0px;
  }

}

@media all and (max-width:300px) {

}
