{%extends 'web/base_menu.html'%}
{%load static%}
{%load  custom_tag%}

{%block korean%}
        문의하기
{%endblock%}

{%block english%}
        Information
{%endblock%}

{%block menu%}
        <a href="{%url 'web:menu' page='information'%}"><li>문의하기</li></a>
        <a href="{%url 'web:menu' page='qna'%}"><li>자주하는질문</li></a>
{%endblock%}


<!--컨테이너-->
{%block page%}
          | 문의하기
{%endblock%}

{%block container%}
      <div class="display_none">
        <h1>{{information_post.update_clicks}}</h1>
      </div>
      <div class="detail_information_box">
        <table class="detail_information_table">
          <thead>
            <th scope="cols" colspan="4">대출 문의</th>
          </thead>
          <tbody>
                <tr>
                  <th scope="row">이름</th>
                  <th scope="row" class="value">{{information_post.name}}</th>
                  <th scope="row">전화번호</th>
                  <th scope="row" class="value">{{information_post.phone_number}}</th>
                </tr>
                <tr>
                  <th scope="row">나이</th>
                  <th scope="row" class="value">{{information_post.age}}세</th>
                  <th scope="row">직업</th>
                  <th scope="row" class="value">{{information_post.job}}</th>
                </tr>
                <tr>
                  <th scope="row" colspan="3">희망금액</th>
                  <th scope="row" class="value">{{information_post.money}} 만원</th>
                </tr>
                <tr>
                  <th scope="row">지역</th>
                  <th scope="row" class="value">
                    {{information_post.region_1}}
                    {{information_post.region_2}}
                  </th>
                  <th scope="row">희망상품</th>
                  <th scope="row" class="value">
                    {{information_post.product}}
                  </th>
                </tr>
                <tr>
                  <th scope="row">제목</th>
                  <th scope="row" colspan="5" class="value">{{information_post.title}}</th>
                </tr>
          </tbody>
          </table>
          <div class="post_text">
            {{information_post.text|linebreaks}}
          </div>
          <hr>
            <div class="button_box">
              <button onClick="history.go(-2);">뒤로가기</button>
            </div>
            <div class="remove_button_box">
              <button onClick="location.href='{%url 'web:input_information_post_password' page='information' post_pk=information_post.pk name='delete'%}'">삭제하기</button>
            </div>
       </div>
{%endblock%}
