{%extends 'web/base.html'%}
{%load static%}
{%block content%}

<script type="text/javascript" src="{%static 'web/javascript/main.js'%}"></script>
<section id="wrap_section">
  <div class="main_img_box">
    <div class="main_img">
      <div class="main_introduce_box">
        <form class="main_new_information_form" action="{%url 'web:new_information_post' page='information'%}" method="post">
          {%csrf_token%}
          <h1>빠른 대출 문의</h1>
          <select name="region_1" id="sido1"></select>
          <select name="region_2" id="gugun1"></select>
          <br>
          <table class="pc_main_new_information_table">
            <tr>
              <td>이름</td>
              <td><input type="text" name="name"></td>
              <td>나이</td>
              <td><input type="number" name="age"></td>
            </tr>
            <tr>
              <td>직업</td>
              <td><input type="text" name="job"></td>
              <td>상품</td>
              <td>
                <select name="product">
                  <option value="직장인대출">직장인대출</option>
                  <option value="사업자대출">사업자대출</option>
                  <option value="주부/여성대출">주부/여성대출</option>
                  <option value="무직자대출">무직자대출</option>
                  <option value="성형자금대출">성형자금대출</option>
                  <option value="부동산담보대출">부동산담보대출</option>
                  <option value="금/은담보대출">금/은담보대출</option>
                  <option value="레저스포츠담보대출">레저스포츠담보대출</option>
                  <option value="자동차담보대출">자동차담보대출</option>
                  <option value="이륜차담보대출">이륜차담보대출</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>전화번호</td>
              <td><input type="text" name="phone_number"></td>
              <td>희망금액(만원)</td>
              <td><input type="number" name="money"></td>
            </tr>
          </table>
          <br><br><br>
          <button type="submit">상담신청</button>
          </form>
          <form class="main_new_information_form" action="{%url 'web:new_information_post' page='information'%}" method="post">
            {%csrf_token%}
          <h1>빠른 대출 문의</h1>
            <select name="region_1" id="sido1"></select>
            <select name="region_2" id="gugun1"></select>
          <br>
          <table class="mobile_main_new_information_table">
            <tr>
              <td>이름</td>
              <td><input type="text" name="name"></td>
            </tr>
            <tr>
              <td>나이</td>
              <td><input type="number" name="age"></td>
            </tr>
            <tr>
              <td>직업</td>
              <td><input type="text" name="job"></td>
            </tr>
            <tr>
              <td>희망금액<br>(만원)</td>
              <td><input type="number" name="money"></td>
            </tr>
            <tr>
              <td>상품</td>
              <td>
                <select name="product">
                  <option value="직장인대출">직장인대출</option>
                  <option value="사업자대출">사업자대출</option>
                  <option value="주부/여성대출">주부/여성대출</option>
                  <option value="무직자대출">무직자대출</option>
                  <option value="성형자금대출">성형자금대출</option>
                  <option value="부동산담보대출">부동산담보대출</option>
                  <option value="금/은담보대출">금/은담보대출</option>
                  <option value="레저스포츠담보대출">레저스포츠담보대출</option>
                  <option value="자동차담보대출">자동차담보대출</option>
                  <option value="이륜차담보대출">이륜차담보대출</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>전화번호</td>
              <td><input type="text" name="phone_number"></td>
            </tr>
          </table>
          <br><br><br>
          <button type="submit">상담신청</button>
        </form>
      </div>
    </div>
  </div>
  <section id="first_section">
    <div class="round_box">
      <img src="{%static 'web/img/money.jpg'%}">
      <br><br>
      <h1>신속하고, 최대한 많이!</h1><br>
      <p>㈜보라파이낸셜대부에서는<br>고객님의 여러가지 여건을 종합하여<br>합법적인 금리내에서<br>신속하고 대출금액을<br> 최대한 맞춰드립니다.</p>
    </div>
    <div class="round_box">
      <img src="{%static 'web/img/credit.jpg'%}">
      <br><br>
      <h1>신용 대출</h1><br>
      <p>직장인, 사업자, 무직자, 여성등<br>다양한 직장을 가지신분들을 위하여<br>합법적인 금리내에서<br>최대한 대출금액을 맞춰드립니다.</p>
    </div>
    <div class="round_box">
      <img src="{%static 'web/img/car.jpg'%}">
      <br><br>
      <h1>담보 대출</h1><br>
      <p>부동산, 금/은, 자동차등<br>㈜보라파이낸셜대부에서는<br>모든것을 담보로 최고 20억까지<br>대출이 가능합니다.</p>
    </div>
  </section>
  <hr class="first_hr">
  <section id="second_section">
    <div class="info_box">
      <div class="map_img">
        <a target="_blank" href="https://map.naver.com/v5/search/%EA%B2%BD%EA%B8%B0%EB%8F%84%20%EC%88%98%EC%9B%90%EC%8B%9C%20%EC%9E%A5%EC%95%88%EA%B5%AC%20%EA%B2%BD%EC%88%98%EB%8C%80%EB%A1%9C%20789%20%EB%9D%BC%EC%9D%B4%EC%98%A8%EC%8A%A4%EB%B9%8C%EB%94%A9%202%EC%B8%B5/address/14139663.216851134,4479941.610123185,%EA%B2%BD%EA%B8%B0%EB%8F%84%20%EC%88%98%EC%9B%90%EC%8B%9C%20%EC%9E%A5%EC%95%88%EA%B5%AC%20%EA%B2%BD%EC%88%98%EB%8C%80%EB%A1%9C%20789,new?c=14139645.9016889,4479946.7582371,19,0,0,0,dh">
        <img src="{%static 'web/img/map.jpg'%}">
        </a>
      </div>
      <div class="map">
        <img src="{%static 'web/img/location_logo.png'%}">
        <h1>찾아오시는 길</h1>
        <p>경기도 수원시 장안구 경수대로 789 라이온스빌딩 2층</p>
      </div>
      <div class="tel">
        <a href="tel:1800-9523">
        <img src="{%static 'web/img/tel_logo.png'%}">
        <h1>1800-9523</h1><br><p>(클릭시 통화연결)</p>
        </a>
      </div>
      <div class="email">
        <a href="showtjddnjs@naver.com">
        <img src="{%static 'web/img/email_logo.png'%}">
        <h1>EMAIL : showtjddnjs@naver.com</h1><br><p>(클릭시 이메일발송)</p>
        </a>
      </div>
    </div>
  </section>
</section>
{%endblock%}
