{%extends 'web/base_menu.html'%}
{%load static%}

{%block korean%}
        {%if page == 'business'%}
        사업분야
        {%elif page == 'major'%}
        주요공사
        {%endif%}
{%endblock%}

{%block english%}
        {%if page == 'business'%}
        Business
        {%elif page == 'major'%}
        Major Business
        {%endif%}
{%endblock%}

{%block menu%}
        <a href="{%url 'web:menu' page='business'%}"><li>사업분야</li></a>
        <a href="{%url 'web:menu' page='major'%}"><li>주요공사</li></a>
{%endblock%}

<!--컨테이너-->
{%block page%}
        {%if page == 'business'%}
        | 사업 분야
        {%elif page == 'major'%}
        | 주요 공사
        {%endif%}
{%endblock%}

{%block container%}
    <div class="content_box">
      {%if page == 'business'%}
        <div class="business_introduce_box">
          <h1>
            저희 (주)능성산업개발은 비계구조물해체공사를 바탕으로 주택철거,공장철거,상가철거, 등을 영위하고 있으며 <br>
            중장비대여업 건설폐기물처리업 토공사등을 전문으로 임하고 있습니다.​<br>
            사람들은 새로운것과 현대시대에 맞는 건축물을 생각하고 실현하고 싶어합니다.<br>
            이것을 실천하기 위해서는 첫공사인 건축물해체가 필요합니다.​<br>
            저희는 고객님들의 새로운 눈과 안락함을 만들어드리는 (주)능성산업개발 이 되겠습니다.​
          </h1>
        </div>
        <div class="business_box">
          <h1>─────────── 사업 분야 ───────────</h1><br><br><br>
          <div class="business_img_box">
            <h2>주택 철거</h2>
            <img src="{%static 'web/img/sh_townhouse.jpg'%}">
          </div>
          <div class="business_img_box">
            <h2>공장 철거</h2>
            <img src="{%static 'web/img/jungdong_factory.jpg'%}">
          </div>
          <div class="business_img_box">
            <h2>상가 철거</h2>
            <img src="{%static 'web/img/sh_officetel.jpg'%}">
          </div>
          <div class="business_img_box">
            <h2>건설폐기물 처리</h2>
            <img src="{%static 'web/img/waste.jpg'%}">
          </div>
          <div class="business_img_box">
            <h2>토목공사</h2>
            <img src="{%static 'web/img/civil.jpg'%}">
          </div>
          <div class="business_img_box">
            <h2>중장비 대여</h2>
            <img src="{%static 'web/img/rental.jpg'%}">
          </div>
        </div>
      {%elif page == 'major'%}
        <div class="major_box">
          <div class="major_img_box">
            <img src="{%static 'web/img/major_1.jpg'%}">
            <h1>┗ 독산동 1005-3 번지 SH오피스텔 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_2.jpg'%}">
            <h1>┗ 대조동 179-21, 43, 44 번지 SH오피스텔 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_3.jpg'%}">
            <h1>┗ 시흥동 824-16, 17, 18, 19 번지 SH다세대빌라 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_4.jpg'%}">
            <h1>┗ 중동 668-5 번지 공장 철거 및 폐기물처리 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_5.jpg'%}">
            <h1>┗ 중곡동 56-4, 5, 11, 12 번지 SH다세대빌라 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_6.jpg'%}">
            <h1>┗ 시흥동 940-28 번지 SH다세대빌라 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_7.jpg'%}">
            <h1>┗ 송파동 39-15 번지 다세대빌라 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_8.jpg'%}">
            <h1>┗ 삼정동 281-13, 14, 15, 16 번지 다세대빌라 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_9.jpg'%}">
            <h1>┗ 안녕동 180-518, 519, 345 번지 원룸 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_10.jpg'%}">
            <h1>┗ 시흥동 210-6, 15 번지, 211-5 번지 SH다세대빌라 신축공사 철거 ┛</h1>
          </div>
          <div class="major_img_box">
            <img src="{%static 'web/img/major_11.jpg'%}">
            <h1>┗ 독산동 952 번지, 952-40 번지 SH오피스텔 신축공사 철거 ┛</h1>
          </div>
        </div>
      {%endif%}
    </div>
{%endblock%}
